/*
dark purple: #40105d
mid purple: #84289d
light purple: #e691c2
gray: #a5a5a5

*/

body {
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-family: "Open Sans", sans-serif;
  /*background-color: #575C79;*/
  background: white;
  background: -webkit-linear-gradient(to left, #c48af7, #070707);
  background: linear-gradient(to left, #c48af7 20%, rgba(6, 6, 6, .9));
  /*font-size: 62.5%;*/
  height: 100%;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.question {
  height: 27px;
  width: 27px;
  text-align: left;
}

.logo {
  margin: 25px;
  width: 600px;
  text-align: center;
}

.logoAbs {
  position: fixed;
  width: 300px;
  top: 10px;
  left: 30px;
  z-index: -2;
/*  background: white;
  padding: 5px;*/
}

.black {
  color: black;
}

.userID {
  font-weight: 700;
}

/*#balance {
  color: black;
}*/

.get {
  display: inline-block;
}

.set {
  display: inline-block;
}

button:disabled {
  background-color: #535370;
}

.centerAbs {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10%;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 2px #000000;
  -webkit-box-shadow: 3px 3px 5px 2px #000000;
  box-shadow:         3px 3px 5px 2px #000000;
}

.inshadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
