body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
  background-color: #575C79;
  /*font-size: 62.5%;*/
  height: 100%;
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50%);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

 .box { height: 200px; } 
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }

h1 {
  font-size: 6rem;
}

#hostContainer {
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
  display: flex;
  width: 1000px;
}

#hostDashboard {
  background-color: #BBC1E6;
}

.dashboardBox {
  margin: 0;
  padding: 0;
  /*flex: 3;*/
  /*position: relative;
  width: 49%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;*/
  /*border: 1px solid black;*/
}

.dashboardBox:hover {
  background-color: #94A1ED;
}

#timer {
  width: 100%;
  /*border: 1px solid black;*/
  font-size: 2em;
}

#storage {
  font-size: 0.5em;
}

/*input {
  width: 500px;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  display: block;
}

label {
  display: block;
}*/

/*button {
  font-size: 16px;
  padding: 5px;
  display: inline-block;
  margin: 10px;
  border: none;
}*/

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.question {
  height: 27px;
  text-align: left;
}

.logo {
  width: 600px;
  text-align: center;
}

.black {
  color: black;
}

.userID {
  font-weight: 700;
}

#balance {
  color: black;
}

.get {
  display: inline-block;
}

.set {
  display: inline-block;
}

button:disabled {
  background-color: #535370;
}

#dropbox {
  width: 200px;
  height: 200px;
  background-color: #fff;
  float: right;
  border-radius: 6px;
  border: 3px solid black;
  text-align: center;
  line-height: 200px;
  font-weight: 700;
  color: white;
  font-size: 20px;
}


#fileTable {
  background-color: #ededed;
  font-size: 12px;
  color: blue;
  font-weight: 700;
  margin: 10px 0 10px 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  float: right;
}

.btn-primary.gradient {
  border-radius: 6px;
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
	background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}

.btn-primary.gradient:active, .btn-primary.gradient.active {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 2px #000000;
  -webkit-box-shadow: 3px 3px 5px 2px #000000;
  box-shadow:         3px 3px 5px 2px #000000;
}

.inshadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
