
#dash {
  background-color: #BBC1E6;
}
.box {
   height: 200px;
 }
.box1 {
  background-color: red;
}
.box2 {
  background-color: orange;
}
.box3 {
  background-color: purple;
}
.box4 {
  background-color: grey;
}
.dashboardBox {
  margin: 0;
  padding: 0;
  /*flex: 3;*/
  /*position: relative;
  width: 49%;
  height: 0;
  padding-bottom: 30%;
  display: inline-block;*/
  /*border: 1px solid black;*/
}
.dashboardBox:hover {
  background-color: #94A1ED;
}
#timer {
  width: 100%;
  /*border: 1px solid black;*/
  font-size: 2em;
}

#storage {
  font-size: 0.5em;
}
#hostContainer {
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
  display: flex;
  width: 1000px;
}
