body {
  background-image: url("../../images/wallpaperUser.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-position: center;
  font-family: 'Lato', sans-serif;
}

header {
  text-align: center;
  color: #4A90E2;
  font-weight: 700;
}

#dash {
  background-color: #BBC1E6;
  position: relative;
}

.dash__balance {
}
.dash__balance__title {

}
#dash__balance__value {
  color: black;
}

.dash__money {
  display: flex;
  flex-direction: column;
}
.dash__money__gain {

}
.dash__money__gain__des {

}
.dash__money__gain__num {

}
.dash__money__avail {

}
.dash__money__avail__des {

}
.dash__money__avail__num {

}

.dash__storage {
}
.dash__storage__size {

}

.dash__storage__size__des {

}
.dash__storage__size__num {

}
.dash__storage__hashes {
  display: flex;
  flex-flow: column;
  font-size: 10px;
}
.dash__storage__hashes div {
}

.dash__time {
  display: flex;
  flex-direction: column;
}

#dash__time__timer {
  width: 100%;
  /*border: 1px solid black;*/
  font-size: 2em;
}

#hashList {
  width: 100%;
  background-color: gray;
}

.dash__display {
  font-size: 60px;
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50%);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dash__box {
  height: 250px;
  position: relative;
  opacity: 0.8;
  border: 2px solid black;
  background: #dadbe5;
}

.dash__box:hover {
  opacity: 1;
}

.question {
  position: absolute;
  top: 5px;
  left: 5px;
}

.help__info {
  background: black;
  color: white;
  position: absolute;
  left: 35px;
  top: 5px;
  width: 90%;
  visibility: hidden;
}

.public__id {
  text-align: center;
  color: white;
  font-size: 20px;
  background: black;
  margin-top: 90px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

h1 {
  font-size: 6rem;
}

#storage {
  font-size: 0.5em;
}
#hostContainer {
  text-align: center;
  font-size: 16pt;
  font-weight: 700;
  display: flex;
  width: 1000px;
}
