/*colors to use {
  rich electric blue: #0095cb;
  jet: #333333;
  silver sand: #C4C4C4;
  rich black: #070707;
  space cadet: #173753;
  h1 and the like: #A9C5E6;
  copy text: #C3CCDB;
  link text: #4A90E2;
}*/

body {
  /*background-color: #070707;*/
  color: #C3CCDB;
  text-align: center;
  background-image: url("../../images/wallpaper.jpg");
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-position: center;
  font-family: 'Lato', sans-serif;
}

a {
  color: #4A90E2;
  text-decoration: none;
}

a:hover {
  color: #61A7F8;
}

a:focus {
  color: #23527c;
  text-decoration: underline;
}

.signup-submit-button {
  margin-top: 8px;
}

/*----- Tabs -----*/
.tab {
  height: 250px;
  overflow: hidden;
}

.tabs {
  width:40%;
  display:inline-block;
  border-radius: 3px;
}

.form-signup {
  overflow: hidden;
}

.accounts {
  display: flex;
  flex-flow: column;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:inline-block;
  clear:both;
  content:'';
}

.tab-links {
  margin-right: 30px;
}

.tab-links li {
  display:inline-block;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px;
  /*background:#4bb5db;*/
  font-size:16px;
  font-weight:600;
  /*color:#4c4c4c;*/
  transition:all linear 0.15s;
  width: 150px;
  font-size: 30px;
}

/*a7cce5*/
/*BUTTON COLOR*/
.tab-links a:hover {
  background:#3b417f;
  text-decoration:none;
  color: white;
}

li.active a {
  background: #3b417f;
  color: white;
}

/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  /*border-radius:10px;*/
  border: 2px solid #3b417f;
  background: #E4DDF8;
  opacity: 0.7;
  text-align: left;
  position: relative;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

.form-signup {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.form-signin {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}


.input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 33%;
    font-size: 23px;
    margin: 10px 2.5%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #82799e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #82799e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #82799e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #82799e;
}

.storage {
  width: 29%;
}

.center {
  text-align: center;
}

.submit {
  background: #888FB9;
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin: auto;
  left: 0;
  right: 0;
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
}

.submit:hover {
  background: #3b417f;
  color: white;
}

/*.signin {
  background: #888FB9;
  color: #3b417f;
  border-radius: 3px;
  width: 100px;
  height: 40px;
}

.signin:hover {
  background: #3b417f;
  color: white;
}*/

.signin-link {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10%;
}

#signinHelp {
  display: none;
  position: absolute;
  margin: 0 ;
  background-color: black;
  color: white;
  padding: 5px;
  width: 500px;
}

#popup {
  display: none;
  background: #4c4c4c;
  color: white;
  text-align: left;
  padding: 7px 10px;
}

#popup2 {
  display: none;
  background: #4c4c4c;
  color: white;
  text-align: left;
  padding: 7px 10px;
}

#authFail {
  display: none;
  color: red;
}

#authenticate {
  margin: 0 auto;
  margin-top: 100px;
  color: black;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-widget-overlay {
  background: red;
}

/*
password strength check
*/

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }



#signup-user {
  display: none;
}

#signin-user {
  display: block;
}

#signup-host {
  display: none;
}

#signin-host {
  display: block;
}

.signup {

}
