body {
  /*background-image: url("../../images/wallpaperUser.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
  background: -webkit-linear-gradient(to left, #40105d, #070707);
  background: linear-gradient(to left, #40105d, #070707);
  font-family: 'Lato', sans-serif;
}

.id {
  text-align: center;
  color: white;
  font-size: 30px;
}

.info {
  background: white;
  border: 5px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  background: #f2f2f2;
}

.display {
  font-size: 45px;
}

.file {
  position: relative;
  height: 40px;
  font-size: 17px;
  margin-bottom: 10px;
}

.btn-up {
  position: absolute;
  left: 82%;
  top: 0px;
  height: inherit;
  line-height: 15px;
}

.btn-pay {
  position: absolute;
  left: 82%;
  top: 0px;
  height: inherit;
  line-height: 15px;
}

.filesize {
  position: absolute;
  right: 60%;
  top: 0px;
}

.cost {
  position: absolute;
  top: 0px;
  right: 37%;
}

.recNum {
  height: inherit;
}

.padding {
  padding: 25px;
}

.panel {
  text-align: center;
  font-size: 20px;
}

.panel-heading {
  position: relative;
}

.logoCenter {
  opacity: 0.3;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90px;
}

/*.panel-body {
  background-image: url("../../images/DeStoreLogoOnly.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;
  background-size: 90px;
  opacity: 0.3;
}*/

.dragdropQ {
  position: absolute;
  left: 5px;
}

#dragdropHelp {
  position: absolute;
  left: 35px;
  display: none;
  background-color: black;
  color: white;
  padding: 5px;
  width: 500px;
  z-index: 2;
  font-size: 14px;
  font-weight: 700;
}

.uploadQ {
  position: absolute;
  left: 15px;
}

#uploadHelp {
  position: absolute;
  left: 50px;
  display: none;
  background-color: black;
  color: white;
  padding: 5px;
  z-index: 2;
  font-size: 14px;
  width: 500px;
}

.basename {
  color: black;
  width: 270px;
  overflow-x: auto;
}

.public__id {
  text-align: center;
  color: white;
  font-size: 18px;
  background: black;
  margin-top: 70px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.timer {
  font-size: 20px;
  margin: 0 10px;
}

#fileTable {
  position: relative;
  background-color: #ededed;
  font-size: 12px;
  color: blue;
  font-weight: 700;
  margin: 10px 0 10px 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  float: right;
}

.table-header {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 5px;
  background: black;
  color: white;
}

.recNum {
  position: absolute;
  right: 20%;
  width: 100px;
  top: -2px;
}

.mount {
  background: #02138e;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px 15px;
  opacity: 0.8;
}

.mount:hover {
  opacity: 1;
}

.retrieve {
  border-radius: 4px;
  border: 1px solid black;
  background: #49ce10;
  color: black;
  padding: 0 20px;
}

.retrieve:hover {
  background: #3e7f19;
  color: white;
}

.distribute {
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  background: #c91841;
  padding: 0 20px;
  opacity: 0.8;

}

.distribute:hover {
  opacity: 1;
}

.pay {
  width: 50px;
  border-radius: 2px;
  border: 1px solid black;
  color: black;
  background: #dd1c29;
  opacity: 0.8;
}

.pay:hover {
  opacity: 1;
}

/* layout.css Style */
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
  position: relative;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}

#dropzone {
  text-align: center;
  font-size: 20px;
}
